    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Class of 2020 Class President (2019) </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Men's Basketball Captain (2019)</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Dean's List (2018)</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Class of 2020 Class Vice President (2018)</li>
        </ul>
      </div>
    </section>