    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="computer science experience">
      <div class="w-100">
        <h2 class="mb-5">Computer Science Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">PC/LAN Intern Technician</h3>
            <div class="subheading mb-3">Universal Health Services (UHS)</div>
            <p>Responsible for supporting mainly users in the corporate office as well as the acute and behavioral health division.
                Support the executive suite and legal department.
                Image and configure new hire PC desktops and laptops.
                Upgraded users from Windows 7 to Windows 10
                Troubleshoot and resolve user generated tickets through CA Service Desk.
                Manage and create accounts in Active Directory</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Summer 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Assistant Researcher for Professor Dennis Perkinson</h3>
            <div class="subheading mb-3">Rosemont College Department of Science and Mathematics</div>
            <p>Executed Python commands to Unix Operating System terminal on a Raspberry Pi computer. Create a user interface to simplify the use of Mathematica application for displaying functions. Researched use of microprocessors in secondary and higher education.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Summer 2018</span>
          </div>
        </div>
        
        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="additional experience">
      <div class="w-100">
        <h2 class="mb-5">Additional Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Postgraduate Office Assistant</h3>
            <div class="subheading mb-3">Rosemont College</div>
            <p>Assist with publicizing College's professional development services & perform administrative and clerical tasks.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2017 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Event Staff</h3>
            <div class="subheading mb-3">Contemporary Services Corporation</div>
            <p>Provide support for all events including ticket-taking, ushering, guest and parking services.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2017 - Present </span>
          </div>
        </div>
        
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Valet Attendant</h3>
            <div class="subheading mb-3">ParkOps Parking Management</div>
            <p>Facilitate parking management for BMW customers.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2017 - Present </span>
          </div>
        </div>
        
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Coach (October 2016 - Present)
                              Basketball Trainer (June 2015 - Present)
                              Referee (August 2013 - Present)
                              Camp Counselor (June 2011 - August 2013)</h3>
            <div class="subheading mb-3">Upper Merion Parks and Recreation</div>
            <p>Supervise and conduct skill development drills, implement game strategies and basketball analytics for 60 children ages 8-15. Teach fundamentals of basketball including shooting, defense and ball handling techniques to 30 children ages 8-15. Enforce infractions and award points for 60 children ages 8-15. Planned, led and implemented programs and experiences for 25 children ages 8-12.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2011 - Present </span>
          </div>
        </div>
        
      </div>

    </section>