<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a fulltime student, I enjoy spending time excercising. While I am in basketball season, you can find me on a basketball court everyday with my teammates. In the off-season, I'm following my younger cousin and his AAU team traveling and working on his basketball skills.</p>
        <p class="mb-0">During the Summer, I love spending time with my family and traveling. Destinations include Antigua and Barbuda, Mexico, California, Canada and various United States Virgin Islands.</p>
      </div>
    </section>