    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Kahleel 
          <span class="text-primary">Henry</span>
        </h1>
        <div class="subheading mb-5">1400 Montgomery Ave. · Bryn Mawr, PA 19010 · (610)-931-8990 ·
          <a href="mailto:name@email.com">Kahleelhenry@gmail.com</a>
        </div>
        <p class="lead mb-5">I am experienced in various applications involving Java and some Python. Furthermore, very experienced with hardware computing and healthcare applications.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/kahleel-d-henry">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://www.facebook.com/kahleel.henry.3">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>